@font-face {
  font-family: 'PPCirka';
  src: url('../font/PPCirka-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'PPCirka';
  src: url('../font/PPCirka-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'PPCirka-Variable';
  src: url('../font/PPCirka-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Variable */
  font-style: normal;
}
@font-face {
  font-family: 'AeonikBlack';
  src: url('../font/fonnts.com-AeonikBlack-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Variable */
  font-style: normal;
}


.fontPPCirkaLight {
  font-family: 'PPCirka', sans-serif;
  font-weight: 300; /* Light */}

.fontPPCirkaBold {
  font-family: 'PPCirka', sans-serif;
  font-weight: 700; /* Bold */}

.fontPPCirkaVariable {
  font-family: 'PPCirka-Variable', sans-serif;}

.fontPPCirkaAeonikBlack {
  font-family: 'AeonikBlack', sans-serif;}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column; /* Column direction to stack items vertically */
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
    transition: opacity 0.7s ease;
    overflow: hidden;
    cursor: auto;
  }
  .loadingVideo{
    position: absolute;
    background-color: (255,255,255,0.7);
    filter: blur(8px);
  }
  

  .loadingTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Allow this section to grow and take up available space */
  }

  

  .lodingtextTop { position: absolute; top: 5%;}
  .lodingtextTop, .lodingtextMid {
    font-size: 1.5rem;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
  }
  .frequency {position: absolute;}
  .frequency img {
    width: 300px; /* 원하는 크기로 조절 */
    height: auto;
    clip-path: inset(0 100% 0 0); /* 처음엔 전부 감춤 */
    transition: clip-path 0.5s linear;
}
  .char {display: inline-block;}

  .word {display: inline-block; margin-right: 0.2rem;}

  .loading-percent {
    font-size: 10rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 두번째 */

  .nextloadingRed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(228, 21, 21);
    z-index: 999999999;
    cursor: auto;
    letter-spacing: -0.05rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    opacity: 0;
  }
  .nextloadingRed .loadingCenterImg{
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%,-50%); 
    transition: transform 0.5s ease;

  
  }
  .nextloadingRed .nextLoadingText{font-size: 13rem;}
  .nextloadingRed .nextLoadingTextTop{display: flex; justify-content: space-between;}
  .nextloadingRed .nextLoadingTextBot{display: flex; justify-content: space-between;}

  .nextloadingRed #loadingText1,
  .nextloadingRed #loadingText2,
  .nextloadingRed #loadingText3{opacity: 0;}

  
  .nextloadingBlack{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 999999999;
    cursor: auto;
    letter-spacing: -0.05rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    opacity: 0;
    color: red;
  }
  .nextloadingBlack .loadingCenterImgY{
    position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
    
    transition: opacity 0.5s ease-in-out;
  }
  .nextloadingBlack .nextLoadingText{font-size: 13rem;}
  .nextloadingBlack .nextLoadingTextTop{display: flex; justify-content: space-between;}
  .nextloadingBlack .nextLoadingTextBot{display: flex; justify-content: space-between;}

  .nextloadingBlack #loadingBlackText1,
  .nextloadingBlack #loadingBlackText2,
  .nextloadingBlack #loadingBlackText3{opacity: 0;}

  #twitch {

    position: absolute;
    width: 100vw;
    font-size: 6em;
    height: 100vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);

    text-align: center;
    color: #fff;
    opacity: 0;

}
#twitch span {
  display: block;
  font-size: .4em;
  opacity: .8;
}

#twitch div {
  position: absolute;
  
  opacity: 0;
  
  width: 80vw;
  animation: switch 32s linear infinite;
}

#twitch div:nth-child(2) { animation-delay: 4s}
#twitch div:nth-child(3) { animation-delay: 8s}
#twitch div:nth-child(4) { animation-delay: 12s}
#twitch div:nth-child(5) { animation-delay: 16s}
#twitch div:nth-child(6) { animation-delay: 20s}
#twitch div:nth-child(7) { animation-delay: 24s}
#twitch div:nth-child(8) { animation-delay: 28s}

@keyframes switch {
    0% { opacity: 0; filter: blur(3px); transform:scale(.95);  text-shadow: 40px 42px 2px rgba(0,0,0,.2)}
   
    6% { opacity: .7; filter: blur(2px); transform:scale(1);color: #fff;  text-shadow: 40px 42px 2px rgba(0,0,0,.1)}
    10% { opacity: .7; filter: blur(3px); transform:scale(1.1);color: #000;  text-shadow: 40px 42px 2px rgba(0,0,0,.1)}
    10.1% { opacity: .8; filter: blur(2px); transform:scale(2);color: #fff;  text-shadow: -40px -142px 2px rgba(0,0,0,.1)}
 	10.2% { opacity: .8; filter: blur(2px); transform:scale(2);color: #fff;  text-shadow: 40px 42px 2px rgba(0,0,0,0,.1)}    
    11.1% { opacity: .8; filter: blur(2px); transform:scale(2);color: #111;;  text-shadow: 40px 42px 2px rgba(0,0,0,.1)}
    11.2% { opacity: .7; filter: blur(2px); transform:scale(2);color: #fff;  text-shadow: 90px 52px 2px rgba(0,0,0,.1)}
    12% { opacity: .7; filter: blur(5px); transform:scale(1.1);color: black;  text-shadow: 90px 52px 2px rgba(0,0,0,0)}
    12.1% { opacity: .7; filter: blur(5px); transform:scale(1.1);color: #000;  text-shadow: -90px -52px 2px rgba(0,0,0,0)}
    13% { opacity: 0; filter: blur(3px); transform:scale(1); color: #000;  text-shadow: 40px 42px 2px} 
	12.1% { opacity: .7; filter: blur(5px); transform:scale(1.1);color: #000;  text-shadow: -90px -52px 2px rgba(0,0,0,0)}
    80% { opacity: 0}
    100% { opacity: 0}
}


