@font-face {
  font-family: 'PPCirka';
  src: url('../font/PPCirka-Light.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'PPCirka';
  src: url('../font/PPCirka-Bold.otf') format('opentype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'PPCirka-Variable';
  src: url('../font/PPCirka-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Variable */
  font-style: normal;
}
@font-face {
  font-family: 'AeonikBlack';
  src: url('../font/fonnts.com-AeonikBlack-Regular.ttf') format('truetype');
  font-weight: 100 900; /* Variable */
  font-style: normal;
}


.fontPPCirkaLight {
  font-family: 'PPCirka', sans-serif;
  font-weight: 300; /* Light */}

.fontPPCirkaBold {
  font-family: 'PPCirka', sans-serif;
  font-weight: 700; /* Bold */}

.fontPPCirkaVariable {
  font-family: 'PPCirka-Variable', sans-serif;}

.fontPPCirkaAeonikBlack {
  font-family: 'AeonikBlack', sans-serif;}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column; /* Column direction to stack items vertically */
    background-color: black;
    align-items: center;
    justify-content: center;
    z-index: 999999999;
    transition: opacity 0.7s ease;
    overflow: hidden;
    cursor: auto;
  }
  .loadingVideo{
    position: absolute;
    background-color: (255,255,255,0.7);
    filter: blur(8px);
  }
  

  .loadingTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Allow this section to grow and take up available space */
  }

  

  .lodingtextTop { position: absolute; top: 5%;}
  .lodingtextTop, .lodingtextMid {
    font-size: 1.5rem;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
  }
  .frequency {position: absolute;}
  .frequency img {
    width: 300px; /* 원하는 크기로 조절 */
    height: auto;
    clip-path: inset(0 100% 0 0); /* 처음엔 전부 감춤 */
    transition: clip-path 0.5s linear;
}
  .char {display: inline-block;}

  .word {display: inline-block; margin-right: 0.2rem;}

  .loading-percent {
    font-size: 10rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 두번째 */

  .nextloadingRed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(228, 21, 21);
    z-index: 999999999;
    cursor: auto;
    letter-spacing: -0.05rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

    opacity: 0;
  }
  .nextloadingRed .loadingCenterImg{
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%,-50%); 
    transition: transform 0.5s ease;

  
  }
  .nextloadingRed .nextLoadingText span{font-size: 13rem;}
  .nextloadingRed .nextLoadingTextTop{display: flex; justify-content: space-between;}
  .nextloadingRed .nextLoadingTextBot{display: flex; }

  .nextloadingRed #loadingText1,
  .nextloadingRed #loadingText2,
  .nextloadingRed #loadingText3{opacity: 0;}

  
  .nextloadingBlack{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 999999999;
    cursor: auto;
    letter-spacing: -0.05rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    opacity: 0;
    color: rgb(182, 0, 0);
    overflow: hidden;
  }
  .nextloadingBlack .loadingCenterImgY{
    width: 100vw;
    height: 100vh;
    position: absolute;
    
  }
  .nextloadingBlack .loadingCenterImgY img{
    opacity: 0;
  }
  .nextloadingBlack .nextLoadingText span{font-size: 13rem;}
  .nextloadingBlack .nextLoadingTextTop{display: flex; justify-content: space-between;}
  .nextloadingBlack .nextLoadingTextBot{display: flex; justify-content: space-between;}

  .nextloadingBlack #loadingBlackText1,
  .nextloadingBlack #loadingBlackText2,
  .nextloadingBlack #loadingBlackText3{opacity: 0;}
/*  */

.lodingScratch{position: absolute;fill:white;}
.scratch01 {
  top: -30vh;
  mix-blend-mode: difference;
  height: 133vh;
  left: 20%;
  width: 75vw;
  transform: translateX(10%);
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 100% 0);
  transition: clip-path 0.05s ease-in-out;
}

.scratch02 {
  display: none !important;
  top: -21vh;
  mix-blend-mode: difference;
  height: 123vh;
  width: 77vw;
  position: absolute;
  left: 0vw;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 100% 0);
  transition: clip-path 0.05s ease-in-out;
}
.scratch03 {
  top: 33vh;
  left: 54vw;
  mix-blend-mode: difference;
  height: 100vh;
  width: 36vw;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  transition: clip-path 0.05s ease-in-out;
  transform: scaleX(-1);
}
@media (max-width:1200px){
  
  .nextloadingRed .nextLoadingTextBot{
    justify-content: center;
  }
  .nextloadingRed .nextLoadingText span{font-size: 10rem;}
 
}

@media (max-width:1024px){
  .nextloadingRed .nextLoadingText span{font-size: 8rem;}
 
}



@media screen and (max-width:768px){
  

  .loading-percent span{font-size: 7rem;}
  /* body{background-color: aquamarine;} */

  .nextloadingRed{padding: 1rem;}
  .nextloadingRed .nextLoadingText span{font-size:6rem;}
  .nextloadingRed .nextLoadingTextBot{
    display: flex;
    justify-content: center;
  }

  .nextloadingBlack{
      padding: 1rem; 
      gap: 30rem;     
      flex-direction: column;
      justify-content: center;   
  }
  .nextloadingBlack .nextLoadingText span{font-size:6rem;}
  .nextloadingBlack .nextLoadingTextTop{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: nowrap;
  }
  .nextloadingBlack .nextLoadingTextBot{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .lodingScratch{
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    fill: white;
    overflow: hidden;
    mix-blend-mode: difference;
  }
  .scratch01{
    top: 16%;
    mix-blend-mode: difference;
    height: 100vh;
    left: -9vw;
    width: 100vw;
    position: absolute;
    transition: clip-path 0.05s ease-in-out;
  }
  .scratch02 {
    top: 20%;
    left: -20%;
    mix-blend-mode: difference;
    height: 100vh;
    width: 125vw;
    position: absolute;
    transition: clip-path 0.05s ease-in-out;
}
.scratch03 {
  left: unset;
  right: -50%;
  top: 37%;
  mix-blend-mode: difference;
  height: 100vh;
  width: 100vw;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 98%, 100% 0);
  transition: clip-path 0.05s ease-in-out;
}

.nextloadingBlack .loadingCenterImgY img{
  scale: 0.5;
}
}
